<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/static/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/static/js/myjs.js}"></script>
    <script>
      $(function () {
        $("#username").blur(function () {
            alert(checkUsername(this.value));
            if (checkUsername(this.value)) {
                $("#registerWarn").text("用户名已存在");
            }
        });

      });
    </script>
</head>
<body>
<span style="color: red" id="registerWarn" class="warnMsg">haha</span>
用户名称:<input id="username" name="username" type="text">
</body>
</html>